#board {
    width: 600px;
    height: 300px;
    margin: 100px auto;
    position: relative;
    border: 1px solid gray;
    background: black;
}

.matka {
    width: 10px;
    height: 80px;
    position: absolute;
    background: white;
}

#matka1 {
    left: 2px;
}

#matka2 {
    right: 2px;
}

#ball {
    width: 10px;
    height: 10px;
    background: yellow;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left:50%;
}