.Container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#board {
    width: 80%;
    height: 50vh;
    margin: 100px auto;
    position: relative;
    border: 1px solid gray;
    background: black;
}

.matka {
    width: 10px;
    height: 80px;
    position: absolute;
    background: white;
}

#matka1 {
    left: 2px;
}

#matka2 {
    right: 2px;
}

#ball {
    width: 10px;
    height: 10px;
    background: yellow;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
}

.ScoreContainer {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.Score {
    color: #fff;
}
